<div class="hero-unit">
	<h3>About 'Ze App'</h3>
	<p>
		Only slightly more complicated than the typical "Todo" introduction app, this app provides some 'thought-fodder' for developers wanting to extend Backbone.js to better manage concerns like:
        <ul>
            <li>View Management</li>
            <li>Data Synchronization (without unnecessary server round trips)</li>
            <li>Specialized Collection "Views", customized Model and View objects</li>
        </ul>
	</p>
	<p>
		Be sure to check out some of the great helper frameworks for ideas as well:
        <ul>
            <li><a target="_blank" href="https://github.com/derickbailey/backbone.marionette">Backbone.Marionette</a></li>
            <li><a target="_blank" href="https://github.com/moviepilot/chaplin">Chaplin</a></li>
            <li><a target="_blank" href="https://github.com/walmartlabs/thorax">Thorax</a></li>
            <li><a target="_blank" href="https://github.com/tbranyen/backbone.layoutmanager">Layoutmanager</a></li>
            <li><a target="_blank" href="https://github.com/addyosmani/backbone-aura">Aura</a></li>
        </ul>
	</p>
</div>