<h2>Recipes</h2>

<table id="recipe-items" class="table table-bordered table-striped table-condensed recipe-list">
	<thead>
		<tr>
			<th>Recipe Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr id="no-recipes-placeholder">
			<td colspan="2">
				<em>No recipes exist at the moment...</em>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2" class="footer-bg">
				<div>
					<a id="new-recipe" href="" class="ps-nav btn btn-inverse">Add a Recipe</a>
				</div>
			</td>
		</tr>
	</tfoot>
</table>