<div class="hero-unit">
	<h3>About 'Ze App'</h3>
	<p>
		Only slightly more complicated than the typical "Todo" introduction app, this app demonstrates some of the positive and negative aspects that developers typically encounter when starting off with Backbone.js
	</p>
	<p>
		Be sure to look through the code for comments explaining the merits and/or dangers of the approaches being taken.  I've intentionally provided some of the "dangers" in order to discuss traps that are easy to fall into.
	</p>
</div>