<% if(context === "new" || context === "edit") { %>
	<form class="form-horizontal">
		<fieldset>
			<legend>
				<% if(context === "new") { %>
				Adding New Recipe:
				<% } else { %>
				Editing Recipe:
				<% } %>
			</legend>
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input type="text" class="input-xlarge text-updateable" id="title" value="<%= title %>">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">Description</label>
				<div class="controls">
					<input type="text" class="input-xlarge text-updateable" id="description" value="<%= description %>">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">Items</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="items_add"> <input type="button" value="Add" id="btnAddItem">
					<div>
						<span id="items"></span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">Steps</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="steps_add"> <input type="button" value="Add" id="btnAddStep">
					<div>
						<span id="steps"></span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<% if(context === "new") { %>
					<input class="btn btn-primary" type="button" value="Add" id="addNew">
					<input class="btn" type="button" value="Cancel" id="addCancel">
					<% } else { %>
					<input class="btn btn-primary" type="button" value="Save" id="updateRecipe">
					<input class="btn" type="button" value="Cancel Edit" id="viewRecipe">
					<% } %>
				</div>
			</div>
		</fieldset>
		<div id="errors"></div>
	</form>
<% } else { %>
	<div>
		<h2>Viewing Recipe:</h2>
		<p><em>Title:</em> <strong><%= title %></strong></p>
		<p><em>Description:</em> <%= description %></p>
		<div><em>Items Required:</em></div>
		<ul>
			<% _.each(items, function(item) { %>
			<li><%= item %></li>
			<% }) %>
		</ul>
		<div><em>Steps:</em></div>
		<ol>
			<% _.each(steps, function(step) { %>
			<li><%= step %></li>
			<% }) %>
		</ol>
		<input class="btn btn-primary" type="button" value="Go Back to Recipe List" id="addCancel"> <input class="btn" type="button" value="Edit This Recipe" id="editRecipe">
	</div>
<% } %>